@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: "Open Sans", sans-serif;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}

a {
  color: #42c5bb;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.containerPadding {
  padding: 0 30px;
}

.heading h2 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.poweredBy {
  color: #42c5bb;
}

.price {
  color: #eb0000;
}

.tbtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 10px 25px;
  text-align: center;
  text-transform: capitalize;
}

.btn-tcolor {
  background: #eb0000;
  border: 1px solid #eb0000;
  color: #fff;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Reset style*/
.slick-slide {
  margin: 0 5px;
}

.slick-list {
  margin: 0px -5px 0px -5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #42c5bb;
  overflow: hidden;
  z-index: 10000;
}
.header .actionBar .sidenavToggleBtn {
  cursor: pointer;
  margin-top: -5px;
}
.header .actionBar .sidenavToggleBtn span {
  background: #f5f5f7;
  width: 25px;
  height: 2px;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.header .actionBar .logo img {
  max-width: 80px;
}
.header .actionBar .searchBox span {
  color: #afafaf;
  cursor: pointer;
}
.header .actionBar .userBtns {
  display: flex;
  justify-content: end;
}
.header .actionBar .userBtns .signUp {
  display: none !important;
}
.header .actionBar .userBtns .btns {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff33;
  cursor: pointer;
}
.header .actionBar .userBtns .btns span {
  padding: 0 3px;
}
.header .actionBar .userBtns .btns:hover {
  background-color: #42c5bb;
}
.header .actionBar .userBtns .btns::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0;
  background-color: #ffffff33;
}

.sideBarMenu {
  font-size: 14px;
  color: #000;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 270px;
  z-index: 100;
  transition: 0.3s ease-in-out all;
}
.sideBarMenu .sideMenuContent {
  position: fixed;
  height: calc(100vh - 50px);
  width: 270px;
  background: #fff;
  overflow-x: hidden;
  z-index: 55;
  border-right: 1px solid #ddd;
}
.sideBarMenu .sideMenuContent .sideMenu {
  padding-left: 35px;
}
.sideBarMenu .sideMenuContent .sideMenu nav ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000;
  font-weight: 600;
}
.sideBarMenu .sideMenuContent .first {
  border-bottom: 1px solid #ddd;
}
.sideBarMenu .sideMenuContent .secound {
  border-bottom: 1px solid #ddd;
}

.sideBarToggle {
  left: -270px;
  margin-left: 0 !important;
}

.viewAll {
  color: #fff;
  background: #eb0000;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 13px;
}
.viewAll:hover {
  color: #fff;
  background-color: #42c5bb;
}

.main {
  padding-top: 50px;
  margin-left: 270px;
  transition: 0.3s ease-in-out all;
  overflow: hidden;
}
.main .heroSlider .carousel .carousel-control-prev {
  width: auto;
  justify-content: left;
}
.main .heroSlider .carousel .carousel-control-prev .controlPrev {
  background-color: #fff;
  color: #000;
  font-size: 32px;
}
.main .heroSlider .carousel .carousel-control-next {
  width: auto;
  justify-content: right;
}
.main .heroSlider .carousel .carousel-control-next .controlNext {
  background-color: #fff;
  color: #000;
  font-size: 32px;
}
.main .productCategori .categoris .heading {
  padding: 15px 0;
}
.main .productCategori .categoriList .categoriName {
  margin-bottom: 20px;
}
.main .productCategori .categoriList .categoriName .categoriBox {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .productCategori .categoriList .categoriName .categoriBox .categoriImage {
  max-width: 35px;
}
.main .homeProductSlider .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .homeProductSlider .productSliderHome .SliderHomePrev,
.main .homeProductSlider .productSliderHome .SliderHomeNext {
  position: absolute;
  color: #fff;
  background-color: #eb0000;
  font-size: 45px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  z-index: 50;
  cursor: pointer;
}
.main .homeProductSlider .productSliderHome .SliderHomePrev.slick-disabled,
.main .homeProductSlider .productSliderHome .SliderHomeNext.slick-disabled {
  opacity: 0.5;
}
.main .homeProductSlider .productSliderHome .SliderHomeNext {
  left: unset;
  right: 0;
}
.main .homeProductSlider .productSliderHome .singleProductSlide {
  text-align: center;
  height: 380px;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
  height: 250px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productImage img {
  margin: 0 auto;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productImage:hover .actioBtn {
  opacity: 1;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productImage .actioBtn {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 100;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out all;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productImage .actioBtn span {
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  background: #f5f5f5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productName {
  overflow: hidden;
  height: 45px;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 5px 0;
  margin-bottom: 6px;
  text-align: center;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .productName a {
  color: #000;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .price {
  color: #eb0000;
  font-weight: bold;
  padding: 7px 0;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent {
  display: flex;
  justify-content: center;
}
.main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent .addCart {
  background-color: #eb0000;
  color: #fff;
  font-weight: bold;
  padding: 3px 15px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  margin-left: 270px;
  margin-top: 30px;
  transition: 0.3s ease-in-out all;
  background: #f5f5f5;
  color: #000;
  padding: 25px 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer h5 {
  text-transform: capitalize;
  color: #000;
  font-weight: bold;
}
.footer p {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.footer .footerLink .links a {
  font-size: 13px;
  color: #000;
}
.footer .footerLink .links a:hover {
  color: #42c5bb;
}
.footer .footerLink .links ul {
  list-style: none;
  padding-left: 0;
}
.footer .newsLetter .input-group .input-group-text {
  font-size: 25px;
  cursor: pointer;
}
.footer .socialIcon {
  padding: 20px 0;
}
.footer .socialIcon ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .socialIcon ul li {
  margin-right: 20px;
}
.footer .socialIcon ul li a {
  font-size: 25px;
  color: #000;
}

.floatingCartWrapper .floatingCartBtn {
  position: fixed;
  right: 0;
  top: 50%;
  height: 90px;
  width: 70px;
  background: #fff;
  -moz-box-shadow: 0 0 10px 2px #757575;
  -webkit-box-shadow: 0 0 10px 2px #757575;
  box-shadow: 0 0 10px 2px #757575;
  cursor: pointer;
  text-align: center;
  z-index: 100;
}
.floatingCartWrapper .floatingCartBtn .cartIcon {
  background: #ccc;
  color: #eb0000;
  font-size: 20px;
  padding: 1px;
}
.floatingCartWrapper .floatingCartBtn .cartIcon i {
  font-size: 22px;
}
.floatingCartWrapper .floatingCartBtn .cartIcon h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.floatingCartWrapper .floatingCartBtn .amounts {
  font-size: 10px;
  line-height: 15px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.floatingCartWrapper .floatingCart {
  position: fixed;
  height: 100%;
  width: 370px;
  background-color: #fff;
  top: 50px;
  right: -450px;
  z-index: 100;
  -moz-box-shadow: -2px 5px 10px 2px #ddd;
  -webkit-box-shadow: -2px 5px 10px 2px #ddd;
  box-shadow: -2px 5px 10px 2px #ddd;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.floatingCartWrapper .floatingCart.open {
  right: 0;
}
.floatingCartWrapper .floatingCart.closed {
  right: -450px;
}
.floatingCartWrapper .floatingCart .cartHeader .offer {
  background-color: #eb0000;
  color: #fff;
}
.floatingCartWrapper .floatingCart .cartHeader .offer p {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}
.floatingCartWrapper .floatingCart .cartHeader .item-count {
  font-weight: 700;
}
.floatingCartWrapper .floatingCart .cartHeader .item-count i {
  font-size: 20px;
}
.floatingCartWrapper .floatingCart .cartHeader .close-btn {
  text-align: right;
}
.floatingCartWrapper .floatingCart .cartHeader .close-btn button {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 3px 15px;
  text-transform: capitalize;
  text-align: right;
  background-color: transparent;
}
.floatingCartWrapper .floatingCart .cartBody {
  max-height: calc(100vh - 212px);
  overflow-y: auto;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem {
  padding: 15px 0;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .name {
  overflow: hidden;
  height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .quantity-control {
  position: relative;
  margin-top: 10px;
  visibility: visible;
  opacity: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .quantity-control .form-control {
  box-shadow: none;
  text-align: center;
  height: 25px;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .quantity-control .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .quantity-control .input-group-btn .btn-number {
  background: #eb0000;
  color: #fff;
  border: 1px solid #eb0000;
  padding: 5px 10px;
  height: 25px;
  line-height: 0;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .price {
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .remove-icon {
  margin-left: -15px;
}
.floatingCartWrapper .floatingCart .cartBody .cartItem .remove-icon button {
  background: #fff;
  border: 0;
}
.floatingCartWrapper .floatingCart .cartFooter {
  position: absolute;
  bottom: 50px;
  z-index: 9;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 15px 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}
.floatingCartWrapper .floatingCart .cartFooter a:hover {
  color: #fff;
}
.floatingCartWrapper .floatingCart .cartFooter a:last-child {
  margin-left: -5px;
  background: #b80000;
  cursor: cell;
}
.floatingCartWrapper .floatingCart .cartLeftCloneBtn {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background: #ddd;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  font-size: 30px;
}
.floatingCartWrapper .floatingCart .cartLeftCloneBtn i {
  font-size: 30px;
}

/* Responsive CSS */
@media (max-width: 1399.98px) {
  body,
.form-control {
    font-size: 13px;
  }

  .h5,
h5 {
    font-size: 13px;
  }

  .h6,
h6 {
    font-size: 12px;
  }

  .heading h2 {
    font-size: 18px;
  }

  .sideBarMenu {
    font-size: 13px;
  }

  .homeBanner {
    margin: 10px 0;
  }

  .main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
    height: 230px;
  }

  .footer p {
    font-size: 13px;
  }
}
@media (max-width: 1199.98px) {
  body,
.form-control {
    font-size: 12px;
  }

  .h5,
h5 {
    font-size: 12px;
  }

  .h6,
h6 {
    font-size: 11px;
  }

  .heading h2 {
    font-size: 16px;
  }

  .sideBarMenu {
    font-size: 12px;
  }

  .header .actionBar .userBtns .btns {
    padding-left: 4px;
    padding-right: 4px;
  }
  .header .actionBar .userBtns .btns span {
    padding: 0 2px;
  }

  .main .homeProductSlider .productSliderHome .singleProductSlide {
    height: 290px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
    height: 180px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent .addCart {
    font-size: 12px;
  }

  .footer p {
    font-size: 12px;
  }
}
@media (max-width: 991.98px) {
  .reverse-large {
    flex-direction: column-reverse;
    text-align: center;
  }

  body,
.form-control {
    font-size: 11px;
  }

  .h5,
h5 {
    font-size: 11px;
  }

  .h6,
h6 {
    font-size: 10px;
  }

  .heading h2 {
    font-size: 14px;
  }

  .sideBarMenu {
    font-size: 11px;
  }

  .header .actionBar .userBtns .btns {
    padding-left: 4px;
    padding-right: 4px;
  }
  .header .actionBar .userBtns .btns span {
    padding: 0 2px;
  }

  .main .homeProductSlider .productSliderHome .singleProductSlide {
    height: 245px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
    height: 135px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent .addCart {
    font-size: 11px;
  }

  .footer p {
    font-size: 11px;
  }
}
@media (max-width: 767.98px) {
  .homeBanner .row > * {
    margin-bottom: 10px;
  }

  body,
.form-control {
    font-size: 10px;
  }

  .h5,
h5 {
    font-size: 10px;
  }

  .h6,
h6 {
    font-size: 9px;
  }

  .heading h2 {
    font-size: 12px;
  }

  .sideBarMenu {
    font-size: 10px;
  }

  .header .actionBar .userBtns .btns {
    padding-left: 4px;
    padding-right: 4px;
  }
  .header .actionBar .userBtns .btns span {
    padding: 0 2px;
  }

  .main .homeProductSlider .productSliderHome .singleProductSlide {
    height: 225px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
    height: 120px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent .addCart {
    font-size: 10px;
  }

  .footer p {
    font-size: 10px;
  }
}
@media (max-width: 575.98px) {
  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    padding-left: 0;
    padding-right: 0;
  }

  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  body,
.form-control {
    font-size: 9px;
  }

  .h5,
h5 {
    font-size: 9px;
  }

  .h6,
h6 {
    font-size: 8px;
  }

  .heading h2 {
    font-size: 10px;
  }

  .sideBarMenu {
    font-size: 9px;
  }

  .header .actionBar .userBtns .btns {
    padding-left: 4px;
    padding-right: 4px;
  }
  .header .actionBar .userBtns .btns span {
    padding: 0 2px;
  }

  .main .homeProductSlider .productSliderHome .singleProductSlide {
    height: 235px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .productImage {
    height: 130px;
  }
  .main .homeProductSlider .productSliderHome .singleProductSlide .addCartContent .addCart {
    font-size: 9px;
  }

  .footer p {
    font-size: 9px;
  }
}

/*# sourceMappingURL=style.css.map */
