@import './scss/globalVariables';
/* Reset*/
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.containerPadding {
  padding: 0 30px;
}
.heading {
  h2 {
    color: $textColor;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
// Main
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: $primaryColor;
  z-index: 30;
  .actionBar {
    .sidenavToggleBtn {
      cursor: pointer;
      margin-top: -5px;
      span {
        background: #f5f5f7;
        width: 25px;
        height: 2px;
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .logo {
      img {
        max-width: 80px;
      }
    }
    // Search Box
    .searchBox {
      span {
        color: #afafaf;
        cursor: pointer;
      }
    }
    // UserButtons
    .userBtns {
      display: flex;
      justify-content: end;
      .btns {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        color: $white;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #ffffff33;
        cursor: pointer;
      }
      .btns:hover {
        background-color: $primaryColor;
      }
      .btns::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        left: 0;
        background-color: #ffffff33;
      }
    }
  }
}
.sideBarMenu {
  font-size: 14px;
  color: $textColor;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  width: 270px;
  z-index: 100;
  transition: 0.3s ease-in-out all;
  .sideMenuContent {
    position: fixed;
    height: calc(100vh - 50px);
    width: 270px;
    background: #fff;
    overflow-x: hidden;
    z-index: 55;
    border-right: 1px solid $borderColor;

    .sideMenu {
      padding-left: 35px;
      nav {
        ul {
          li {
            a {
              padding: {
                top: 8px;
                bottom: 8px;
              }
              color: $textColor;
              font-weight: $textBold;
            }
          }
        }
      }
    }
    .first {
      border-bottom: 1px solid $borderColor;
    }
    .secound {
      border-bottom: 1px solid $borderColor;
    }
  }
}
.sideBarToggle {
  left: -270px;
  margin-left: 0;
}
main {
  padding-top: 50px;
  margin-left: 270px;
  transition: 0.3s ease-in-out all;
  .heroSlider {
    .carousel {
      // Mixing color
      @mixin nextPrev {
        background-color: $white;
        color: $textColor;
        font-size: 32px;
      }
      .carousel-control-prev {
        width: auto;
        justify-content: left;
        .controlPrev {
          @include nextPrev;
        }
      }
      .carousel-control-next {
        width: auto;
        justify-content: right;
        .controlNext {
          @include nextPrev;
        }
      }
    }
  }
  .productCategori {
    .categoriList {
      .categoriName {
        margin-bottom: 20px;
        .categoriBox {
          background: #fff;
          border: 1px solid #ddd;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          color: #000;
          padding: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          .categoriImage {
            max-width: 35px;
          }
        }
      }
    }
  }
}
